@page "/bookpage"

@using Book.Data
@inject BookServices book

<h3>BookPage</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in GetBooks())
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.bookName</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public IEnumerable<Book> GetBooks()
    {
        return book.GetAllStudent();
    }
}
